selenium
pandas
requests
beautifulsoup4
fuzzywuzzy
python-levenshtein
bibtexparser
rispy
webdriver-manager
python-dotenv
scikit-learn
spacy
sentence-transformers
streamlit
plotly
scipy
nltk
wordcloud
matplotlib
numpy
kaleido
fpdf2